<nav class="navbar navbar-expand-lg">
    <!-- <div class="container"> -->
        <a class="navbar-brand d-flex align-items-center" href="#">
            <div class="stock-analysis-header">
                <img class="logoimage" src="../../../../assets/images/growth.png" alt="Logo" />
                <span class="title">STOCK ANALYSIS</span>
            </div>
        </a>
 
        <div class="collapse navbar-collapse d-flex justify-content-between ml-4" id="navbarButtonsExample">
            <ul class="navbar-nav searchBoxWidth">
                <input  type="search" placeholder="Search for Company or Stock" id="">
            </ul>
            <div class="d-flex align-items-center">
                <button type="button" class="buttonHead ">Login</button>

                <button type="button" class="buttonHead">Sign up</button>
            </div>
        <!-- </div> -->
    </div>
</nav>
